<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ingenico\Import\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ingenico\Import\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ingenicoLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Ingenico\Import\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import" xsi:type="object">Ingenico\Import\Console\Command\ImportCommand</item>
            </argument>
        </arguments>
    </type>
</config>
